
*{
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}


:root{
    --navbar-height: 22px;
}

#navbar{
    
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}


#logo{
    margin: 10px 34px
}
#logo img{
    height: 38px;
    margin: 3px 5px;
    border-radius: 60px;
}

    
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul{
    display: flex;
    font-family: 'Bree Serif', serif;
}

#navbar ul li{
    
    list-style: none;
    font-size: 0.9rem;
}

#navbar ul li a{
  
    color: white;
    display: block;   
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

                                               /* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 60px;
    height: 560px;
    justify-content: center;
    align-items: self-start;
}

#home::before{
    content: "";
    position: absolute;
    
    background: url('../img/wideAngle.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    padding: 21px 25px;
    font-size: 30px;
}
#home p{
    color: white;
    text-align: justify;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
    padding: 2px 24px;
    width: 40%;
    height: auto;
}

#home table{
    margin-left: 27px; 
    margin: 22px 27px;
    color: #f1a704;
    text-align: justify;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
    padding: 2px 24px;
    width: 41%;
    height: auto;
    border: 1px solid #f5efef;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

#home td {
    border: 1px solid #f1f1f7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

                                                    /* About Section */
#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 106px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

}

#about::before{
    content: "";
    position: absolute;
    background: url('../img/picture.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#about .box{
    border: 2px solid brown;
    padding: 5px;
    margin: 32px 40px 69px;
    border-radius: 26px;
    background: #f2f2f2;
    margin-bottom: 29px;
    height: 270px;
    width: 350px;
    font-family: 'Bree Serif', serif;
}



                                                    /* Services Section */
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 25px;
    margin: 3px 6px;
    border-radius: 26px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 90px;
    margin: auto;
    display: block;
}
/* box ke para ko set kry gy  */
#services .box{
    font-family: 'Bree Serif', serif;
}




                                             /* Clients Section  */

#client-section{
    position: relative;
    
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/muesuem.jpg');
    width: 100%;
    height: 91%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* har logo ko padding wagra set krny ke liye ek hi class use hu rhy ha   */
.client-item{
    padding: 45px;
}
#clients img{
    height: 65px;
    border-radius: 67px;
}



                                            /* Contact Section  */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../img/contact.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
}

.btn2{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(39, 34, 34);
    color: white;
    margin: 32px;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
}
#footer{
    position: fixed;
    z-index: 99;
    bottom: 2%;
    left: 0;
    max-width: 100%;
}


                                               /* utility classes*/

.h-primary{
    font-size: 2.2rem;
    padding: 13px;
    font-family: 'Bree Serif', serif;
}

.h-about{
    font-size: 1.6rem;
    padding: 13px;
    font-family: 'Bree Serif', serif;
    margin-left: 30px;
    margin-top: 20px;
    
}

.h-secondary{
    font-size: 1.5rem;
    padding: 13px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 32px;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}





#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #f7f5f5;
}

#gallery h1{
    color: black;
    text-align: center;
    background: #f7f5f5;
    font-family: 'Bree Serif', serif;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 25px;
    text-align: center;
  }









